:root{
  --colorPag: #F5ED56;
}
#root {
  max-width: 1140px;
  max-height: auto;
  margin: 0 auto;
  padding: 2rem;
  background-color: black;
  /* text-align: center; */
}
p,a{
  color: white;
}

.logo {
  width:5rem;
  height: 5em;
}

.navBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu{
  width: 30rem;
  height: 5rem;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
li{
  list-style: none;
  width: 15rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
li a{
  text-decoration: none;
  color: white;
}
li:hover{
  background-color: var(--colorPag);
}
.tel{
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
