:root{
  --colorPag: #F5ED56;
  --colorTow: #370028;
}
#root {
  max-width: 1140px;
  /* max-height: auto; */
  margin: 0 auto;
  background-color: black;
  height: 100vh; 
  /* text-align: center; */
  position: relative;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* box-shadow: 0 0 3px rgb(233, 107, 107); */
}
/* Styles pour les toasts */


p,a, h3{
  color: white;
}
.messaBull{
  position: absolute;
  top: 20rem;
  left: 24rem;
}
.logo {
  width:5rem;
  height: 5em;
}

.navBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBarScreen{
  display: none;

}
.menu{
  width: 30rem;
  height: 5rem;
  
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menuMobil {
  width: 30rem;
  height: 5rem;
  display: flex;
  justify-content: space-around;
}
.menu li{
  list-style: none;
  width: 15rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menuMobil li{
  list-style: none;
  width: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
li a{
  text-decoration: none;
  color: white;
}
li:hover{
  background-color: var(--colorPag);
}
.active{
  background-color: var(--colorPag);
  color: var(--colorTow);
}
.active a{
  color: var(--colorTow);
}
.tel{
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.main{
  width: 100%;
  height: auto;
  position: relative;
}
.sliced{
  width: 100%;
  height: 70vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-color: #f5ed5656;
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.agence{
  width: 25rem;
  font-size: 2rem;
}
.ouk-titre{
  width: 10rem;
  line-height: .2rem;
  
}

.ouk-titre h3{
  color: white;
  text-align: center;
  font-size: 3rem;
}
.ouk-titre p{
  color: var(--colorPag);
  text-align: center;
  font-size: 1.8rem;
}
.ouk-absolute{
  width: 30rem;
  padding: .8rem;
  background-color: var(--colorPag);
  position: absolute;
  top: 26rem;
  left: 20rem;
  color: black;
  font-weight: bold;
}
.btnComm{
  width: 10rem;
  height: 2.5rem;
  float: right;
  margin-top: 20px;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: var(--colorPag);
}
.Ouk-offre{
  width: 100%;
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  align-items: center;
}
.oukOffre1{
  width: 25rem;
}
.oukOffre1 h3{
 color: white; width: 25rem;
}
.oukOffre2{
  width: calc(100%-25rem);
 text-align: center;
}
.oukOffre2 h5{
  color: white;
}
.oukCardGroup{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.bail{
  margin-top: 20px;
  width: 10rem;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: .5rem solid var(--colorPag);
}
.oukComment{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.oukComment h3{
  color: white;
}
.oukCom1 p{
  color: black;
}
.oukCom1{
  width: 20rem;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 2rem;
}
.oukCom1 h5{
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorPag);
  margin: 0 auto;
}
.oukCom1 p{
  width: 15rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.rondBull{
  display: block;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  width:20px;
  height: 20px;
  background-color: var(--colorPag);
  border-radius: 100%;
  margin-right: 20px;
}
.comment{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.avantage{
  width: 100%;
  margin-bottom: 20px;
}
.avantage1{
  width: 100%;
  height:24rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.avantage1 p{
  color: black;
}
.avant1{
  width: 25rem;
  height: 100%;
}
.textAvant1{
  text-align: center;
}
.textAvant1 h3{
  color: var(--colorPag);
  text-decoration: underline;
}

.avantage2{
  width: 100%;
  height:24rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background-color: #8888888b;
}
.rea{
  width: 100%;
  height: 35rem;
  /* background-color: aliceblue; */
  text-align: center;
}
.rea h3{
  width: 70%;
  margin: 0 auto;
  color: var(--colorPag);
}
.contentrea{
  display: flex;
  align-items: center;
}
.picture1{
  width: 20rem;
  height: 100%;
  display: block;
}
.picture{
  width: 17rem;
  height: 13rem;
  margin-bottom: 20px;
  border-radius: 20px;
}
.ico1{
  color:var(--colorPag);
}
.textarea{
  width: 10rem;
}

.btnGeneral{
  width: 10rem;
  height: 2.5rem;
  margin-top: 20px;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: var(--colorPag);
}
.solution{
  width: 70%;
  margin: 0 auto;
  color: var(--colorPag);
  text-align: center;
  margin-bottom: 20px;
}
.projetFinanc{
  width: 100%;
}
.projetFinanc h2{
  color: var(--colorPag);
}
.cardPro {
 width: 30rem;
 height: 10rem;
 display: flex;
 justify-content: center;
 align-items: center;
 border: .1rem solid var(--colorPag);
 margin-bottom: 20px;
 border-radius: 5px;

}
.projetCard{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardPro img{
  width: 4rem;
  height: 4rem;
  
}
.blocInfOuk{
  margin-top: 10px;
  display: block;
}
.inf1{
  display: flex;
  justify-content: space-around;
}
.inf1 h6{
  color: white;
  font-weight: bold;
}
.info2{
  display: flex;
  justify-content: space-around;
}
.info2 p{
  font-size: .5rem;
}
.clIcon{
  color: var(--colorPag);
}
.finan{
  width: 5rem;
  height: 2rem;
  background-color: var(--colorPag);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 20px;
}
.rech{
    width: auto;
    margin-right: 20px;
}
.btnPlus{
  float: right;
}
.rejoindre{
  width: 100%;
  margin-top: 100px;
}
.rejoiCard{
  width: 70%;
  height: 15rem;
  margin: 0 auto;
  background-color: var(--colorPag);
  position: relative;
  border-radius: 5px;
  text-align: center;
  
}
.rejoiCard h3, .rejoiCard p{
   color: var(--colorTow);
   
}
.textRejoi{
  padding: 2rem;
}
.iconAbsolu{
  width: 70px;
  height: 70px;
  background-color:var(--colorTow) ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
top: -30px;
left: 20px;
}
.iconRejoi{
  font-size: 3rem;
  color: white;
}
.oukMessage{
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.logogif{
  width: 100%;
  height: 10rem;
}
.cardMessa{
  width: 15rem;
  height: 16rem;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  
  
}
.cardMessa h6, .cardMessa p{
  color: var(--colorTow);
}
.cardPatient{
  width: 40rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;

}
.logoPatien{
  width: 16rem;
  height: 100%;
}
.cardPatient h6, .cardPatient p{
  color: var(--colorTow);
}
.testemo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.testCard{
  width: 70%;
  height: 20rem;
  background-color: var(--colorPag);
  position: relative;
}
.quoteTesteMo{
  width: 70px;
  height: 70px;
  background-color: var(--colorTow);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  left: 20px;
}
.icoTeste{
  font-size: 2rem;
}
.cardPeople{
  width: 15rem;
  background-color: white;
  padding: .8rem;
  margin-top: 20px;
}
.blocTestemo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.userP{
  width: 100%;
}
.cardPeople{
  text-align: center;
}
.cardPeople p{
  color: var(--colorTow);
}
.infoPeople{
  line-height: .8rem;
}
.infoPeople h6, .infoPeople p{
  color: var(--colorTow);
}
.btnBloc{
  display: flex;
  justify-content: space-around;
}
.btnSous{
  width: 100%;
  margin-bottom: 20px;
}
.btnInves{
  width: 20rem;
  height: 2rem;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: var(--colorPag);
}
.contact{
  width: 100%;
  margin-bottom: 20px;
}
.contact h2{
  color: var(--colorPag);
}
.contactBloc{
  width: 100%;
}
.contaForm{
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.imputFields{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.imputFields input {
  width: 15rem;
  height: 2rem;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contaForm p {
  text-align: center;
}
.contaFor button{
  text-align: center;
}
footer{
  width: 100%;
  height: 40px;
  background-color: var(--colorPag);
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socio{
  width: 2rem;
  height: 2rem;
}
@media screen and (min-width:1300px){
  .ouk-absolute{
    width: 30rem;
    padding: .8rem;
    background-color: var(--colorPag);
    position: absolute;
    top: 26rem;
    left: 20rem;
    color: black;
    font-weight: bold;
  }

}
@media screen and (max-width:1000px){
  #root {
    width:100%;
    /* max-height: auto; */
    /* margin: 0 auto; */
    /* padding: 2rem; */
    background-color: black;
    height: 100vh; 
    /* text-align: center; */

  }
  .navBar{
    display: none;
  }
  .navBarScreen{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }


  .sti{
    width: 20rem;
    height: 20rem;
  }
  .sliced{
    width: 100%;
    height: 80vh;
    display: flex;
    text-align: center;
  }
  
  .ouk-info{
    width: 100%;
    display: inline-block;
   
  }
  .agence{
    width: 100%;
    font-size:2.5rem;
  }
  .ouk-titre{
    width: 100%;
    line-height: .2rem;
    
  }
  .cardPatient{
    margin-bottom: 20px;
  }
  
  .ouk-titre h3{
    color: white;
    text-align: center;
    font-size: 3rem;
  }
  .ouk-titre p{
    color: var(--colorPag);
    text-align: center;
    font-size: 1.8rem;
  }
  .ouk-absolute{
    width: 30rem;
    padding: .8rem;
    background-color: var(--colorPag);
    position: absolute;
    top: 25rem;
    left: 15rem;
    color: black;
    font-weight: bold;
  }
  .Ouk-offre{
    width: 100%;
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
  }
  .oukOffre2 {
    width: 100%;
    text-align: center;
}
  .oukOffre1 {
    width: 100%;
    text-align: center;
}

  .oukOffre1 h3 {
    color: white;
    width: 50%;
    display: inline-block;
}
.oukCardGroup {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
}
@media screen and (max-width:780px){
  .sliced {
    width: 100%;
    height: 90vh;
    display: block;
    text-align: center;
}
.sti {
  width: 20rem;
  height: 20rem;
  margin-bottom: 20px;
}
.btnComm {
  width: 10rem;
  height: 2.5rem;
  float: none;
 display: flex;
 flex-direction: column;
  margin-top: 120px;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: var(--colorPag);
}
.cardPatient{
  margin-bottom: 20px;
}
  .ouk-absolute{
    width: 30rem;
    padding: .8rem;
    background-color: var(--colorPag);
    position: initial;
  
    color: black;
    font-weight: bold;
    margin: 0 auto;
  }

  .navBar{
    display: none;
  }
  .navBarScreen{
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }

  .menuMobil {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
  }
  .rea {
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
    text-align: center;
}
  .contentrea {
    display: block;
    align-items: center;
  }
    .picture1 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
  }
  .textRea{
    margin-bottom: 20px;
  }
  .projetFinanc h2 {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
  }
}

@media screen and (max-width:610px){
  .btnComm {
 visibility: hidden;
}
.comment {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
  .oukCom1{
    margin-bottom: 20px;
  }
  .avantage1 {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}
.avantage2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  background-color: #8888888b;
}
.btnBloc {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  align-items: center;

}
.btnInves {
  margin-bottom: 20px;
}
.cardPatient{
  margin-bottom: 20px;
}
.contact h2 {
text-align: center;
}
.imputFields {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
}